#activities-table th {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Optional: Center-align content in all table cells for consistency */
#activities-table td {
  text-align: center;
  vertical-align: middle;
  padding: 8px;
}

/* If you want to left-align the text in the 'Details' column */
/* #activities-table td:nth-child(5) {
  text-align: left;
} */

/* Styling for the entire table to make it look more polished */
#activities-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

#activities-table,
#activities-table th,
#activities-table td {
  border: 1px solid #ddd;
}

/* Hover effect for table rows */
#activities-table tbody tr:hover {
  background-color: #f5f5f5;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}
.container {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1,
h2 {
  color: #333;
  text-align: center;
}
.punch-clock {
  text-align: center;
  margin-bottom: 20px;
}
#timer {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}
.btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  line-height: 1.6;
}
.btn:hover {
  background-color: #45a049;
}
#stop-btn {
  background-color: #f44336;
}
#stop-btn:hover {
  background-color: #d32f2f;
}

.btn-edit {
  background-color: #4caf50;
  color: white;
}

.btn-edit:hover {
  background-color: #45a049;
}

.btn-delete {
  background-color: #f44336;
  color: white;
}

.btn-delete:hover {
  background-color: #d32f2f;
}

form {
  margin-top: 20px;
}
label {
  display: block;
  margin-bottom: 5px;
  max-width: fit-content;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #f2f2f2;
}
.import-export {
  margin: 20px 0;
}
.import-export .btn {
  margin-right: 10px;
}
